/* ==========================================================================
   FONT FAMILY: Helvetica Monospaced Pro
   ========================================================================== */

/* Regular */
@font-face {
    font-family: 'Helvetica Monospaced Pro';
    src: url('https://raw.githubusercontent.com/ajg-machine/static/main/fonts/Helvetica Monospaced/helvetica-monospaced-pro.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Regular Italic */
@font-face {
    font-family: 'Helvetica Monospaced Pro';
    src: url('https://raw.githubusercontent.com/ajg-machine/static/main/fonts/Helvetica Monospaced/helvetica-monospaced-pro-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Helvetica Monospaced Pro';
    src: url('https://raw.githubusercontent.com/ajg-machine/static/main/fonts/Helvetica Monospaced/helvetica-monospaced-pro-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold Italic */
@font-face {
    font-family: 'Helvetica Monospaced Pro';
    src: url('https://raw.githubusercontent.com/ajg-machine/static/main/fonts/Helvetica Monospaced/helvetica-monospaced-pro-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
